.profilecard__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profilecard {
  padding: 48px;
  text-align: center;
  display: inline-block;
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #222;
}

.profilecard__image > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.profilecard__name {
  margin-top: 12px;
  font-size: 1.4em;
  font-weight: 400;
}

.profilecard__credentials {
  font-size: 0.9em;
  color: #888;
}

.profilecard__desc {
  margin-top: 12px;
  text-align: left;
  color: #888;
}