@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');

.insightcard {
  max-width: 40vw;
  padding: 24px 0;
  margin-bottom: 60px;
}

.insightcard__text {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;

  font-family: 'Roboto Slab', 'Arial', 'sans-serif';
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;

  border-left: 1px solid #222;
}

.insightcard__title {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 12px;
}

.insightcard__title > a {
  text-decoration: none;
  color: #555;
}

.insightcard__title > a:hover {
  color: black;
}

.insightcard__category {
  margin: 12px 0;
  font-size: 1em;
  color: #aaa;
  font-weight: 400;
}

.insightcard__image {
  min-height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center;
  
  /* -webkit-box-shadow: 6px 6px 12px 0px rgba(136,136,136,1);
  -moz-box-shadow: 6px 6px 12px 0px rgba(136,136,136,1);
  box-shadow: 6px 6px 12px 0px rgba(136,136,136,1); */

  margin-bottom: 48px;
}

.insightcard__cta {
  margin-top: 12px;
  font-size: 1em;
  font-family: 'Roboto Slab', 'Arial', 'sans-serif';
  font-weight: 600;
}

.insightcard__cta > a {
  text-decoration: none;
  color: #888;
  transition: all 0.2s ease;
}

.insightcard__cta > a:hover {
  color: #222;
}